<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Slim 3</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/post.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="root">