.post {
    margin: 20px 0;
    padding: 15px;
    border-bottom: 1px solid #aaa;
}

.post--single {
    border-bottom-style: dashed;
}

.post__title {
    margin: 0 0 15px;
}

.post__info {
    margin: 15px 0;
    font-size: 1.4rem;
}

.post__content {
    margin: 0;
}