* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

body, html, input, textarea {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: #333;
    color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

ul {
    list-style: none;
}

a {
    text-decoration: underline;
    color: currentColor;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 720px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.container::after,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 1140px;
    }
}