<div class="container">
    <h1>Slim</h1>
    <?php foreach($posts as $post) { ?>
        <article id="post-<?= htmlspecialchars($post['id']) ?>" class="post">
            <h2 class="post__title"><?= htmlspecialchars($post['title']) ?></h2>
            <p class="post__info">Some sample data.</p>
            <p class="post__content"><?= htmlspecialchars($post['content']) ?></p>
        </article>
    <?php }; ?>
</div>
