<div class="container">
    <article class="post post--single">
        <h2 class="post__title"><?= htmlspecialchars($title) ?></h2>
        <p class="post__info">Some sample data.</p>
        <p class="post__content"><?= htmlspecialchars($content) ?></p>
    </article>
</div>
